.product-table {
  width: 90%;
  height: 550px;
  background-color: #262626;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
@media only screen and (max-width: 500px) {
  .product-table {
    display: none;
  }
}
