.feedback-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem 2rem;
  color: #ffffff;
}

#form {
  width: 70%;
}
#standard-name {
  color: white;
}
#standard-name-msg {
  height: 100px;
  color: white;
}

.submit-btn-div {
  width: 80%;
  text-align: initial;
  padding: 1rem 5.5rem;
}
@media only screen and (max-width: 500px) {
  .feedback-form {
    width: 100%;
    padding: 0;
  }
  .submit-btn-div {
    width: 90%;
    padding: 0;
  }
  #form {
    width: 100%;
  }
}
